@model inveroryManagerApp.Models.OrderModel
@{
    ViewData["Title"] = "Add New Order";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .form-group{ margin: 5px; }
</style>

<div class="text-center">
    <h1 style="font-size: 4vw;">@ViewData["Title"]</h1>
</div>