@{
    ViewData["Title"] = "Operation Select";
}

<div class="text-center">
    <h1 class="display-4" style="font-size: 6vw;">@ViewData["Title"]</h1>
</div>

<div class="position-absolute top-50 start-50 translate-middle ">
    <a asp-action="Orders" asp-controller="home" class="btn btn-primary btn-lg"
    style="height: max-content width: max-content; font-size: 2vw;">
        Orders
    </a>
    <a asp-action="Items" asp-controller="home" class="btn btn-primary btn-lg" 
    style="height: max-content; width: max-content; font-size: 2vw;">
        Items
    </a>
    <a asp-action="Customers" asp-controller="home" class="btn btn-primary btn-lg" 
    style="height: max-content; width: max-content; font-size: 2vw;">
        Customers
    </a>
    <a asp-action="Staffs" asp-controller="home" class="btn btn-primary btn-lg"
       style="height: max-content; width: max-content; font-size: 2vw;">
        Staffs
    </a>
</div>