@{
    ViewData["Title"] = "Orders Operations";
}
<div class="text-center">
    <h1 style="font-size: 4vw;">@ViewData["Title"]</h1>
</div>

<div class="position-absolute top-50 start-50 translate-middle ">
    <a asp-action="ListOrders" asp-controller="home" class="btn btn-primary btn-lg"
    style="height: max-content width: max-content; font-size: 2vw;">
        List Orders
    </a>
    <a asp-action="AddOrder" asp-controller="home" class="btn btn-primary btn-lg" 
    style="height: max-content; width: max-content; font-size: 2vw;">
        New Order
    </a>
    <a asp-action="OrderStatus" asp-controller="home" class="btn btn-primary btn-lg" 
    style="height: max-content; width: max-content; font-size: 2vw;">
        Get Oder By Id
    </a>
</div>
