@{
    ViewData["Title"] = "Check Order Status";
}
<div class="text-center">
    <h1 style="font-size: 4vw;">@ViewData["Title"]</h1>
    <p1 style="font-size: 1vw;">Please Enter Order ID</p1>
</div>

@using (Html.BeginForm("CheckOrderStatus", "Home"))
{
    <div class="position-absolute top-50 start-50 translate-middle">
        @Html.TextBox("Name","", new { @style="font-size: 1vw;"})
        <input type="submit" class="btn btn-secondary" style="height: max-content; width: max-content; font-size: 1vw;" 
        value="Submit"/>
    </div>
}

