@{
    ViewData["Title"] = "Staff Operations";
}
<div class="text-center">
    <h1 style="font-size: 4vw;">@ViewData["Title"]</h1>
</div>

<div class="position-absolute top-50 start-50 translate-middle ">
    <a asp-action="ListStaffs" asp-controller="home" class="btn btn-primary btn-lg"
       style="height: max-content width: max-content; font-size: 2vw;">
        List Staffs
    </a>
    <a asp-action="AddStaff" asp-controller="home" class="btn btn-primary btn-lg"
       style="height: max-content; width: max-content; font-size: 2vw;">
        Add Staff
    </a>
</div>
