<!DOCTYPE html>
<html>
<head>
<title>Products</title>
</head>
<style>

.button1 {
    position: absolute;
    left: 5vw;
    top: 20vw;
    block-size: 7vw;
    font-size: 5vw;
}

.button2 {
    position: absolute;
    left: 33\2vw;
    top: 20vw;
    block-size: 7vw;
    font-size: 5vw;
}

.button3 {
    position: absolute;
    left: 60vw;
    top: 20vw;
    block-size: 7vw;
    font-size: 5vw;
}

</style>
<body>

<Center><h1 style="font-size: 7vw;">Products</Select></h1></Center>

<button class="button1">List Items</button>
<button class="button2">Item Sold</button>
<button class="button3">Recall Item</button>

</body>
</html> 